button.ql-document {
  &::after {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23333'%3E%3Cpath d='M14 2H6c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V8l-6-6zm4 18H6V4h7v5h5v11z'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.ql-editor {
  min-height: 600px;
}

div.ql-editor {
  --blot-align-left-margin: 0.5rem 1rem 0.5rem 0;
  --blot-align-center-margin: 1rem auto;
  --blot-align-right-margin: 0.5rem 0 0.5rem 1rem;
}

/* image wrapper common */
div.ql-editor [class^="ql-image-align-"] {
  display: flex;
  flex-wrap: wrap;
  width: var(--resize-width);
  max-width: 100%;
}
div.ql-editor [class^="ql-image-align-"]>img {
  flex: 1;
}
/* left */
div.ql-editor .ql-image-align-left,
div.ql-editor .ql-iframe-align-left {
  margin: var(--blot-align-left-margin);
  float: left;
}
/* centre */
div.ql-editor .ql-image-align-center,
div.ql-editor .ql-iframe-align-center {
  margin: var(--blot-align-center-margin);
}
/* right */
div.ql-editor .ql-image-align-right,
div.ql-editor .ql-iframe-align-right {
  margin: var(--blot-align-right-margin);
  float: right;
}

/* image caption */
/* common */
div.ql-editor [class^="ql-image-align-"][data-title] {
  margin-bottom: 0;
}
div.ql-editor [class^="ql-image-align-"][data-title]::after {
  content: attr(data-title);
  padding: 0.25rem 0.2rem;
  font-size: 0.9rem;
  line-height: 1.1;
  background-color: white;
  width: 100%;
}
/* remove text decoration on caption when image linked */
a:has([class^="ql-image-align-"]>img) {
  text-decoration: none !important;
}
/* left */
div.ql-editor .ql-image-align-left[data-title]::after {
  text-align: left;
}
/* center */
div.ql-editor .ql-image-align-center[data-title]::after {
  text-align: center;
}
/* right */
div.ql-editor .ql-image-align-right[data-title]::after {
  text-align: right;
}